<div class="footer-copyright">
  <p>&copy; Encyklopedický ústav Slovenskej akadémie vied</p>
  <p><b>Licencia obsahu:</b></p>
  <ol>
    <li>texty hesiel: CC BY-SA Creative Commons Attribution-ShareAlike
      („uvedenie autora – rovnaké šírenie“) 4.0
    </li>
    <li>ilustrácie: licenčné podmienky sú pripojené ku každej ilustrácii</li>
  </ol>

  <p>Viac o licenciách Creative Commons:
    <a href="http://sk.creativecommons.org/" target="_blank">http://sk.creativecommons.org/</a>
  </p>

  <p>Návrh a grafický dizajn: <a href="http://www.ui42.sk" class="credits" target="_blank">ui42</a>, programovanie: <a
        href="http://www.coolstranky.sk" class="credits" target="_blank">Coolstranky.sk</a>.</p>
</div>