{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<div class="modal-look-backdrop"></div>
<div class="modal-look-content">
  {% if content %}
      <article{{ attributes }}>
        {{ content.field_image }}
        {{ content.field_image_odkaz }}
      </article>
      <div class="metadata">
        {{ content|without('field_image')|without('field_image_odkaz') }}
        <a href="#" class="back" onclick="parent.history.back();
              return false;"><i class="icon-back"></i>Naspäť k heslu</a>
      </div>
  {% endif %}
</div>