TRUSTED_HOST=.*\.lndo\.site,localhost,127.0.0.1

# Database connection
DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=drupal9
DB_USERNAME=drupal9
DB_PASSWORD=drupal9
DB_PREFIX=

# Reroute emails
REROUTE_EMAIL=TRUE
REROUTE_EMAIL_ADDRESS=sykora@improve.sk

# Hash salt
HASH_SALT='J2RATdd4h4GdghkCZH99vaNPXR2-6_q0m6fC1qlrYm6SzkpAp48cDboGnEC6iQy940JhA9rzcA'

# Environment indicator
ENVIRONMENT_INDICATOR='#008a29'
ENVIRONMENT_INDICATOR_NAME='Develop'

# Exclude modules
EXCLUDE_MODULES='stage_file_proxy,devel,devel_node_access,devel_entity_updates,webprofiler,devel_generate,kint,entity_update,reroute_email'

# SOLR settings.
SOLR_SCHEME='http'
SOLR_HOST='search'
SOLR_CORE='drupal9'
SOLR_PATH='/'
SOLR_PORT=8983
SOLR_USERNAME=''
SOLR_PASSWORD=''
SOLR_HTTP_USER=''
SOLR_HTTP_PASS=''
SOLR_NAME='Solr - Environment: development'

# Configure language
LANGUAGE_SOURCE='domain'
LANGUAGE_DOMAINS_SK='beliana.web.lndo.site,skola.beliana.web.lndo.site'
LANGUAGE_DOMAINS_EN='en.beliana.web.lndo.site'

# Motamo site ID.
MATOMO_SITE_ID=1

# Beliana Sync
BELIANA_SYNC_REMOTE_URL='https://webrs.beliana.lndo.site/'

# Reverse proxy
REVERSE_PROXY=TRUE
REVERSE_PROXY_ADDRESSES='127.0.0.1'


FILE_TEMP_PATH=sites/default/files/tmp
FILE_PRIVATE_PATH=sites/default/files/private
TRANSLATION_PATH=sites/default/files/translations

ERROR_LEVEL=verbose
