@import url("https://use.typekit.net/ial0koy.css");

html {
  width: 100%;
}
body {
  font-family: 'arno-pro', sans-serif;
  -webkit-font-smoothing​: antialiased;
}

body.path-frontpage {
  background: #ffa587;
}
body.path-frontpage h2 + div {
  background: none;
}
body.path-frontpage .box {
  border: none;
}
body.path-frontpage footer{
  border-color: #8b2908;
}

h1, h2 {
  color: #8b2908;
}

.container {
  max-width: 1320px;
}

.heslo-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
}

header.header {
  width: 100%;
  background: #171717;
}

.header {
  width: auto;
  height: auto;
  background: none;
}

.header .header-top {
  padding: 5px 0 0 0;
  border-bottom: 1px solid #555;
}
.header .header-top .sitename {
  display: none; 
}
.header .header-top .left {
  display: inline-block;
  float: none;
  width: calc(50% - 10px);
}
.header .header-top .right {
  display: inline-block;
  float: none;
  width: calc(50% - 10px);
  text-align: right;
  vertical-align: top;
}
.header .header-top .nav-collapse {
  background: none;
  border: none;
}
.header .header-top .nav-collapse ul {
  text-align: left;
}
.header .header-top ul li {  
  position: relative;
  list-style: none;
  display: inline-block;
  width: auto;
  top: 3px;
}
.header .header-top ul li a {
  color: #fff !important;
  padding: 0 10px;
}
.header .header-top ul li a:hover {
  background-color: transparent;
}

.header .header-main {
  min-height: 90px;
}

.header .header-main .left {
  width: calc(30% - 20px);
  position: relative;
  display: inline-block;
  float: none;
  top: 15px;
}
.header .header-main .left .logo {
  top: -4px;
  position: relative;
}
.header .header-main .left .logo .beliana-logo {
  width: 78px;
  height: 78px;
  position: relative;  
  margin: -4px 0 0 0;
  display: inline-block;
  background: url('../img/beliana_logo_pink.png') no-repeat center center;
  background-size: 64px 64px;
}
.header .header-main .left .logo .beliana-heading {
  display: inline-block;
  padding: 0 0 0 15px;
  margin-top: 12px;
}
.header .header-main .left .logo .beliana-heading .encyclopaedia {
  margin: 0;
  letter-spacing: initial;
  font-size: 1.7em;
}
.header .header-main .left .logo .beliana-heading .title {
  font-size: 1.7em;
  font-weight: normal;
  line-height: 0.7em;
}

.header .header-main .middle {
  width: calc(40% + 45px);
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 24px;
}
.header .header-main .middle .smartphone-navigation {
  display: none;
}

.header .header-main .right {
  width: calc(30% - 35px);
  position: relative;
  display: inline-block;
  float: none;
}
.header .header-main .right .search-help {  
  position: relative;
  top: -19px;
  left: 12px;
  z-index: 9;
}
body.path-frontpage .header .header-main .right .search-help {
  top: 38px;
}
.header .header-main .right .search-help .text {
  color: #aaa;  
  cursor: pointer;
}
.header .header-main .right .search-help .text:hover {
  text-decoration: underline;
}

.header .header-main .right .search-help .description {
  display: none;
  background: #fae1d9;
  padding: 15px;
  position: absolute;
  top: 42px;
  right: calc(50% - 80px);
  width: 100%;
}
.header .header-main .right .search-help .description.open {
  display: block;
}
.header .header-main .right .search-help .description .arrow {
  position: absolute;
  top: -8px;
  right: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fae1d9;
}

.header .header-main .right .search-help .description ul {
  list-style: none;
  color: #231f20;
}
.header .header-main .right .search-help .description ul li span {
  font-weight: bold;
  color: #000;
}
.header .header-main .right .search-help .description a.more-info {
  text-align: center;
  padding: 15px 0 0 0;
  color: #8b2908;
  display: block;
}

.header .header-navigation {
  background: #ffa587;
}
.header .header-navigation .word-facet-wrap {
  margin: 0;
  min-height: 55px;
  text-align: center;
}
.header .header-navigation .word-facet-wrap h2 {
  display: none;
}
.header .header-navigation .word-facet-wrap .facets-widget-links {
  background: none;
  margin: 0;
}

.search-box-mobile {
  min-height: 58px;
}

.heslo {
  border: none;
}

body .page-loader{
  display: none;
}

/*body.use-loader .page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  z-index: 99999;
}
body.use-loader .page-loader .loader-animation{
  position: fixed;
  left: calc(50% - 19px);
  top: calc(50% - 15px);
  color: #266ead;
}
body.use-loader.is-loaded .page-loader {
  display: none;
}*/

#block-beliana-page-title {
  display: none;
}

#block-breadcrumbs {
  margin-top: -15px;
}

.view-word-search-page {
  width: 50%;
  margin: 0 auto;
}
.view-word-search-page header {
  margin-top: -28px;
  color: #999;
}
.view-word-search-page .heslo-container {
  width: 100%;
}
.view-word-search-page .heslo-container .heslo {
  width: 100%;
  padding: 0;
}
.view-word-search-page .heslo-container .heslo h1 a {
  font-size: 1.1em;
  font-weight: normal;
}
.view-word-search-page .heslo-container .heslo h1 i {
  float: right;
  margin-top: 14px;
  font-size: 0.7em;
}

body.path-rozsirene-vyhladavanie .views-element-container {
  width: calc(100% - 280px);
  float: right;
}
body.path-rozsirene-vyhladavanie .view-word-search-page {
  width: 70%;
  margin: 28px 0 0 0;
}
body.path-rozsirene-vyhladavanie .view-word-search-page h2 {
  font-size: 1.7em;
  margin-top: -8px;
}

body.path-rozsirene-vyhladavanie #block-kategorie {
  width: 280px;
  float: left;
  margin-top: 32px;
}
body.path-rozsirene-vyhladavanie #block-kategorie h2 {
  margin-bottom: 8px;
}
body.path-rozsirene-vyhladavanie #block-kategorie .opener {
  display: none;
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox ul li {
  list-style: none;
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox ul li label {
  padding-left: 15px;
  position: relative;
  top: -3px;
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox ul li label:before {
  content: "\f0da";
  color: transparent;
  font: normal normal normal 14px/1 FontAwesome;
  position: relative;
  top: 1px;
  left: -5px;
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox > ul li.facet-item--expanded:not(.facet-item--active) > label,
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox > ul li.facet-item--collapsed:not(.facet-item--active) > label {
  cursor: pointer;
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox > ul li.facet-item--collapsed ul {
  display: none;
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox > ul li.facet-item--expanded > label:before {
  content: "\f0d7";
  color: #282727;
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox ul li.facet-item--collapsed label:before {
  color: #282727; 
}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox > ul > li {

}
body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox > ul > li.facet-item--expanded ul {
  padding-left: 21px;
}

.more-link a {
  color: #8b2908 !important;
  background: none !important;
  text-decoration: underline !important;
}

.obsah a,
.citacia a,
.najhladanejsie-hesla a,
.body-content a,
.obsah a:visited,
.citacia a:visited,
.dnes a:visited,
.najhladanejsie-hesla a:visited,
.body-content .container  a:visited {
  color: #8b2908 !important;
  text-decoration: none;
}

.dnes a {
  line-height: 1.5em;
}

.more:hover,
.obsah a:hover,
.citacia a:hover,
.dnes a:hover,
.najhladanejsie-hesla a:hover,
.body-content .container  a:hover {
  color: #8b2908;
  text-decoration: underline !important;
}

.top-links {
  margin-top: 6px;
}
.top-links a,
.top-links a:visited,
footer a,
footer a:visited,
#block-beliana-main-menu a,
#block-beliana-main-menu a:visited {
  text-decoration: none !important;
}

.top-links a:hover,
footer a:hover,
#block-beliana-main-menu a:hover {
  text-decoration: underline !important;
}

#block-beliana-main-menu a {
  background: none;
  padding-top: 4px;
}

#block-beliana-mobile-menu {
  display: none;
}

.najhladanejsie-hesla ul li .views-field-title span {
  padding-right: 20px;
}
.najhladanejsie-hesla ul li:last-child .views-field-title span:after,
.najhladanejsie-hesla ul li .views-field-title span a:after {
  content: "";
}

#content-main {
  margin-top: 32px;
}
body.path-frontpage #content-main .container {
  max-width: 1170px;
}
body.path-node article .heslo h1 {
  color: #333;
  font-size: 2.5em;
  font-weight: normal;
}
body.page-node-type-page article {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
}

.media.media-image.view-mode-full {
  width: 75%;
  margin: 0 auto;
}
.media.media-image.view-mode-full .left,
.media.media-image.view-mode-full .right {
  display: inline-block;
  width: 50%;
}

.media.media-image.view-mode-full .metadata {
  font-family: 'STIXGeneral', 'Asana Math', 'Arial Unicode MS', 'Lucida Grande', 'Liberation Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.7rem;
  padding-right: 15px;
}
.media.media-image.view-mode-full .metadata a{
  color: #266ead;
  text-decoration: underline;
}

.media.media-image.view-mode-full .metadata .field .field__label {
  display: inline-block;
  font-weight: bold;
}
.media.media-image.view-mode-full .metadata .field .field__label:after {
  content: ":";
}
.media.media-image.view-mode-full .metadata .field .field__item {
  display: inline-block;
}

.media.media-image.view-mode-full .metadata .title {
  font-weight: normal;
  font-size: 2.3rem;
  font-family: 'Open Sans', sans-serif;
}
.media.media-image.view-mode-full .metadata .title span {
  font-weight: bold;
}
.media.media-image.view-mode-full .metadata .field--name-field-description {
  padding: 20px 0;
}
.media.media-image.view-mode-full .metadata .field--name-field-description p {
  margin: 0;
}

.media.media-image.view-mode-full .metadata .dalsie-info > div {
  padding: 15px 0 15px 27px;
}

.media.media-image.view-mode-full .metadata .dalsie-info h3.open a {
  background-position: 0 -17px;
}

.media.media-image.view-mode-full .metadata .dalsie-info h3 a {
  background: url('../img/arrow_sprite.png') no-repeat;
  height: 17px;
  display: inline-block;
  padding-left: 26px;
  margin: 0;
  color: #1c1c1c;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 20px;
  opacity: 0.5;
}

.media.media-image.view-mode-full .metadata .back {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f5f5f5;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.3rem;
  line-height: 30px;
  color: #545454;
  text-decoration: none;
  padding: 0 10px 2px 10px;
  margin: 15px 0 0 0;
}

article .heslo {
  float: none;
  display: inline-block;
  position: relative;
  width: 65%;
  padding-right: 50px;
}
article .heslo.full-width {
  width: 100%;
}
article .heslo p.last-update {
  font-style: normal;
  margin: 0;
}

article .heslo-ilustracia {
  width: 35%;
}

article .heslo-ilustracia .field--name-field-images {
  margin-top: 98px;
}

article .heslo .obsah { 
  font-family: 'STIXGeneral', 'Asana Math', 'Arial Unicode MS', 'Lucida Grande', 'Liberation Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.7rem;
  min-height: 2.4em;
}

article .heslo .obsah table tr td:first-child {
  font-weight: initial;
}

article.media-image.view-mode-in-word a {
  display: block;
  text-align: center;
}

.MathJax span, .inline-formula, .block-formula { 
  font-family: 'STIXGeneral' !important;
  font-size: 1.7rem;
}

#block-beliana-page-title {
  margin-top: 32px;
}


#block-beliana-heslo {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  border: none;
  z-index: 2;
}
#block-beliana-heslo ul li {
  list-style-type: none;
  margin-right: 4px;
}
#block-beliana-heslo ul li:last-of-type {
  margin-right: 0px;
}
#block-beliana-heslo .facets-widget-links > ul {  
  display: block;
}
#block-beliana-heslo .facets-widget-links > ul > li {
  display: inline-block;
  margin: 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
  border: none;
  width: 38px;
  height: 55px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
}

#block-beliana-heslo .facets-widget-links .navigation {
  position: absolute;
  display: none;  
  top: 14px;
  color: #fff;
}
#block-beliana-heslo.is-slider .facets-widget-links .navigation {
  display: block;
  top: 16px;
}
#block-beliana-heslo .facets-widget-links .navigation.prev {
  left: -20px;
}
#block-beliana-heslo .facets-widget-links .navigation.next {
  right: -20px;
}
#block-beliana-heslo .facets-widget-links .navigation.hide {
  display: none;
}

#block-beliana-heslo ul li ul {
  position: absolute;
  padding: 0;
  background: #fae1d9;
  width: 150px;
  border: none;
  margin-top: -1px;
  display: none;
}
#block-beliana-heslo ul li ul li {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
#block-beliana-heslo ul li ul li a {
  padding: 4px 0 2px 15px;
  border: none !important;
  font-size: 1.3em;
  line-height: 33px;
}

.view-word-search-page ul.pager > li {
  width: 150px;
  margin: 0 auto;
}

#block-beliana-heslo ul li a,
.view-word-search-page ul.pager li a {
  line-height: 55px;
  text-decoration: none;
  color: #fff;  
  font-size: 1.6em;
}
.view-word-search-page ul.pager li a {
  font-weight: bold;
  font-size: 1.3em;
}

#block-beliana-heslo ul li a,
.view-word-search-page ul.pager li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #8b2908;
  border: 1px solid transparent;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#block-beliana-heslo ul li:hover a,
#block-beliana-heslo ul li a:hover,
.view-word-search-page ul.pager li a:hover {
  cursor: pointer;
  color: #8b2908;
  background-color: #fae1d9 !important;
  text-decoration: none !important;  
  border: 1px solid #fae1d9;
  border-bottom: none;
  z-index: 3;
  position: relative;
}

#block-beliana-heslo ul li ul li a:hover {
  box-shadow: none;
  background-color: #fdbda7 !important;
  border-radius: 0;
}

#block-beliana-heslo .facet-item a:hover {
  background-color: #e6e6e6;
  text-decoration: underline;
}

#block-beliana-heslo .facet-item a.is-active,
#block-beliana-heslo .facet-item--active-trail > a,
#block-beliana-heslo .facet-item--active-trail > a:hover,
#block-beliana-heslo .facet-item a.is-active:hover {
  color: #8b2908;
  background: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}
#block-beliana-heslo .facet-item--active-trail > a:hover {
  border: 1px solid #ccc;
  border-bottom: none;
}
#block-beliana-heslo .facet-item.facet-item--expanded:hover ul {
  display: block;
}

#block-beliana-searchbox {
  position: relative;
}
#block-beliana-searchbox form {
  background: #fff;
}
#block-beliana-searchbox .search-input-wrapper {
  display: inline-block;
  background: url('../img/search_icon.png') no-repeat 14px 14px #fff;
  padding-left: 45px;
  width: calc(100% - 90px);
}
#block-beliana-searchbox .search-input-wrapper .search-alphabet-wrapper {
  position: relative;
  display: inline-block;
  padding: 8px 25px 8px 10px;
  top: -1px;
  background: #fae1d9;
  color: #600b00;
}
#block-beliana-searchbox .search-input-wrapper .search-alphabet-wrapper .close {
  position: absolute;
  top: 8px;
  right: 7px;
  color: #8b2908;
}
#block-beliana-searchbox .search-input-wrapper.has-alphabet .form-item {
  width: calc(100% - 105px);
}
#block-beliana-searchbox .search-input-wrapper .form-item {
  display: inline-block;
  width: 100%;
}
#block-beliana-searchbox .search-input-wrapper input {
  width: 100%;
  float: none;
  height: 48px;  
  font-style: normal;
  font-size: 1.2em;
  color: #666;  
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#block-beliana-searchbox input.search-submit {
  display: inline-block;
  position: relative;
  top: 0;
  left: -4px;
  float: none;  
  width: 85px;
  height: 48px;
  background: #fff;
  padding: 0;
  text-transform: none;
  color: #747474;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#block-beliana-searchbox input.search-submit:hover {
  background-color: #f4f4f4;
}

#block-beliana-heslo .facet-item__status {
  display: none;
}

#block-beliana-zalozky ul {
  margin-top: 20px;
}

#block-beliana-zalozky ul li {
  display: inline-block;
  margin-right: 20px;
}

#block-beliana-zalozky ul li a {
  color: #266ead;
  text-decoration: underline;
}

#block-beliana-encyklopediabeliana {
  margin-bottom: 35px;
  border: none;
}
#block-beliana-encyklopediabeliana h1 {
  color: #231f20;
  font-size: 4.5em;
  font-weight: normal;
  line-height: 0.8em;
  padding: 115px 0 0 0;
  text-transform: uppercase;
  word-spacing: 9999999px;
  font-family: 'STIXGeneral', 'Asana Math', 'Arial Unicode MS', 'Lucida Grande', 'Liberation Sans', 'Helvetica', 'Arial', sans-serif;
  background: url('../img/beliana_logo_black.png') no-repeat top center;
  background-size: 100px;
  margin: 0;
}
#block-beliana-encyklopediabeliana .field--name-body {
  font-size: 1.3em;
}


#block-views-block-content-recent-block-2 h2 {
  color: #333;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 10px;
}
#block-views-block-content-recent-block-2 .item-list {
  max-height: 107px;
  overflow: hidden;
}
#block-views-block-content-recent-block-2 .item-list ul li {
  display: inline-block;
  padding: 0 10px 0 0;
  font-size: 1.6em;
}
#block-views-block-content-recent-block-2 .more-link a {
  margin-top: 30px;
  float: left;
  color: #266ead;
  text-decoration: underline;
  padding-right: 13px;
  background: url('../img/right_arrow.png') no-repeat top 6px right;
}

#block-breadcrumbs ol {
  list-style: none;
}
#block-breadcrumbs ol li {
  display: inline-block;
  padding-right: 5px;
  color: #636363;
}
#block-breadcrumbs ol li a {
  margin-right: 5px;
}
#block-breadcrumbs ol li i {
  font-size: 10px;
  margin-left: 4px;
}

#test-popup {
  min-height: 52px;
  background: #ffa587;
}
#test-popup #popup-text {
  width: 100%;
  text-align: center;
  color: #231f20;
  float: left;
  font-weight: bold;
}
#test-popup #popup-text p {
  font-size: 1.8rem;
}

.heslo-ilustracia .heslo-tools {
  margin: 0;
  padding-bottom: 45px;
}
.heslo-tools.smartphone {
  display: none;
}
.heslo-tools.desktop {
  display: block;
}
.heslo-tools .share {
  background: none;
  color: #8b2908; 
}
.heslo-tools a.print, 
.heslo-tools a.comment,
.heslo-tools a:hover.print, 
.heslo-tools a:hover.comment{
  display: block;
  text-align: left;
  margin: 8px 0;
  background: none;
}
.heslo-tools.desktop .share {
  margin-right: 0;
}
.heslo-tools.desktop a.print, 
.heslo-tools.desktop a.comment {
  display: inline-block;
}

.heslo-ilustracia .media-image.view-mode-in-word {
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
  padding: 10px 10px 15px 10px;
}
.heslo-ilustracia .media-image.view-mode-in-word img {
  max-width: 100%;
  height: auto;
}
.heslo-ilustracia .media-image.view-mode-in-word .field--name-field-description {
  font-family: 'STIXGeneral', 'Asana Math', 'Arial Unicode MS', 'Lucida Grande', 'Liberation Sans', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  padding-top: 5px;
}
.heslo-ilustracia .media-image.view-mode-in-word .field--name-field-description p {
  font-size: 1.5rem;    
  line-height: 1.8rem;
  margin: 0;
}

.view-najcitanejsie-hesla {
  margin-top: -52px;
}
.view-najcitanejsie-hesla .views-row,
.view-najcitanejsie-hesla .views-row article {
  margin-top: 0;
} 
.view-word-search-page .views-row {
  margin-top: 15px;
}
.view-word-search-page .views-row article {
  margin-top: 15px;
}
.view-najcitanejsie-hesla .views-row article .heslo #gradient,
.view-word-search-page .views-row article .heslo #gradient {
  bottom: -4px;
}
.view-najcitanejsie-hesla article .heslo h1 a,
.view-word-search-page article .heslo h1 a {
  color: #266ead;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
}
.view-najcitanejsie-hesla article .heslo h1 a:hover,
.view-word-search-page article .heslo h1 a:hover {
  text-decoration: underline;
}
.view-najcitanejsie-hesla article .heslo .obsah img {
  display: none;
}

.dnes h2 {
  color: #333;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 10px;
}
.dnes ul {
  margin: 0;
}
.dnes ul li {
  font-size: 1.6em;
  color: #8b2908;  
}
.dnes.half-box {
  width: 35%;
  padding-right: 15px;
}

.truncate-wrapper {
  max-height: 130px;
}

.citacia.desktop {
  display: block;
}
.citacia.smartphone {
  display: none;
}
.citacia h3 a {
  color: #1c1c1c !important;
  opacity: 0.5;
}

.contentinfo .alret {
  color: #a51b00;
  background: no-repeat 10px 17px;    
  background-image: url('/core/misc/icons/e32700/error.svg');
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600;
  background-color: white;
  border-width: 0 0 1px 0;
  border-style: solid;
  background-position: right 10px top 17px;
  padding: 12px 20px 15px 30px;
}

.zoznam-tools {
  margin-top: -5px;
  color: #999;
}

.truncate-button {
  border: 1px solid #e4e4e4;
  background: transparent;
  color: #a51b00;
}
.truncate-button .button:after {
  border-top-color: #a51b00;
}

.table-like {
  display: table;
  width: 100%;
}

.table-like > div {
  display: table-row;
}

.table-like > div > div {
  display: table-cell;
  vertical-align: top;
  padding: 0 5px;
}

#colorbox #cboxContent .cboxPhoto {
  width: auto !important;
  height: 100% !important;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto !important;
}

footer {
  background: none;
  text-align: center;
}
footer .footer-content {
  padding-bottom: 20px;
}
footer .footer-content ul li {
  display: inline-block;
  padding: 0 10px;
}
footer .footer-content ul li a,
footer .footer-content ul li a:hover {
  color: #333 !important;
  font-size: 1.5em;
}
footer .footer-copyright {
  width: 100%;
  float: none;
}

*:focus {
  outline: none;
}

@media print {
  #block-beliana-local-tasks,
  #block-beliana-main-menu {
    display: none !important;
  }
}

@media screen and (max-width: 1150px) {
  .header .header-main .left .logo .beliana-heading {
    font-size: 0.65em;
    margin-top: 22px;
  }
}
@media screen and (max-width: 948px) {
  .header .header-top .left {
    width: 100%;
  }
  .header .header-top .right {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    margin-top: -10px;
  }
  .header .header-top .left ul {
    padding: 0;
  }
}
@media screen and (max-width: 892px) {
  .header .header-main .left .logo .beliana-heading {
    font-size: 0.5em;
    margin-top: 25px;
    padding: 0;
  }

  .media.media-image.view-mode-full .left,
  .media.media-image.view-mode-full .right {
    width: 100%;
  }
  .media.media-image.view-mode-full .right {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .header .header-top .sitename {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 8px 0;
    display: block;
  }
  .header .header-top .left,
  .header .header-top .right {
    display: none;
  }
  .header .header-main .left {
    width: 45px;
  }
  .header .header-main .left .logo .beliana-heading {
    display: none;
  }
  .header .header-main .left .logo .beliana-logo {
    width: 45px;
    height: 45px;
    background-size: 45px;
    margin-top: 13px;
    margin-left: -4px;
  }
  .header .header-main .middle {
    width: calc(100% - 105px);
    background: #fff;
    padding: 1px 0 1px 5px;
    margin-top: 20px;
    margin-left: 10px;
  }
  body.path-frontpage .header .header-main .middle {
    width: calc(100% - 42px);
    margin-top: -4px;
    margin-left: 0;
  }
  body.page-node-type-page article {
    width: 100%;
  }

  body.path-rozsirene-vyhladavanie .views-element-container {
    width: 100%;
    float: none;
  }
  body.path-rozsirene-vyhladavanie .view-word-search-page {
    width: 100%;
  }

  body.path-rozsirene-vyhladavanie #block-kategorie {
    position: relative;
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 0 20px;
    float: none;
    margin-top: -32px;
    margin-bottom: 30px;
    background: #ffa587;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie h2 {
    display: none;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie .opener {
    text-align: left;
    width: 100%;
    display: block;
    padding: 12px 0;
    font-size: 1.3em;
    color: #8b2908;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie .opener:after {
    font: normal normal normal 18px/1 FontAwesome;
    position: absolute;
    right: 20px;
    top: 18px;
    color: #8b2908;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie.active .opener.open {
    display: none;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie .opener.open:after {
    content: "\f138";    
  }
  body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox {
    display: none;
    background: transparent;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie.active .facets-widget-checkbox {
    display: block;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie .opener.close {
    display: none;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie.active .opener.close {
    display: block;
  }
  body.path-rozsirene-vyhladavanie #block-kategorie .opener.close:after {
    content: "\f13a";
  }
  body.path-rozsirene-vyhladavanie #block-kategorie .facets-widget-checkbox ul li {
    font-size: 1.8rem;
  }

  .header .header-main .right {
    display: none;
  }

  .header .header-main .middle .smartphone-navigation {
    display: block;
  }
  .header .header-main .middle .smartphone-navigation .fa-bars {
    position: absolute;
    top: 8px;
    right: -45px;
    color: #ffa587;
  }
  .header .header-main .middle .smartphone-navigation .nav-collapse {
    display: none;
  }
  .header .header-main .middle .smartphone-navigation.open #block-beliana-mobile-menu {
    display: block;
    max-height: initial;
    width: calc(100% + 145px);
    left: -85px;
    top: 5px;
    margin-bottom: 4px;
    margin-top: -4px;
    background: #171717;
    border: none;
    padding-top: 15px;
    text-align: center;
  }
  .header .header-main .middle .smartphone-navigation.open .nav-collapse ul li {
    background: #171717;
  }
  .header .header-main .middle .smartphone-navigation.open .nav-collapse ul li a {
    color: #fff;
    background: #171717;
    border: none;
  }
  .header .header-main .middle .smartphone-navigation.open .nav-collapse ul li:first-child a {
    padding-left: 18px;
    background: none;
  }

  .header .header-navigation .word-facet-wrap {

  }
  .header .header-navigation .word-facet-wrap:before {
    content: "Zobraziť abecedu";
    text-align: left;
    width: 100%;
    display: block;
    padding: 12px 0;
    font-size: 1.3em;
    color: #8b2908;
  }
  .header .header-navigation .word-facet-wrap #block-beliana-heslo:before {
    content: "\f138";
    font: normal normal normal 18px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: -36px;
    color: #8b2908;
  }
  .header .header-navigation .word-facet-wrap #block-beliana-heslo .facets-widget-links {
    display: none;
  }

  .header .header-navigation .word-facet-wrap.active:before  {
    content: "Skryť abecedu";
  }
  .header .header-navigation .word-facet-wrap.active #block-beliana-heslo:before {
    content: "\f13a";
  }
  .header .header-navigation .word-facet-wrap.active #block-beliana-heslo .facets-widget-links {
    display: block;
  }

  article .heslo {
    width: 100%;
    padding: 0;
  }
  article .heslo-ilustracia {
    width: 100%;
  }
  article .heslo-ilustracia .field--name-field-images {
    margin-top: 0;
  }

  .heslo-container {
    width: 100%; 
  }

  .media.media-image.view-mode-full {
    width: 100%;
  }

  .media.media-image.view-mode-full .metadata .back {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 15px;
  }

  .heslo-tools.smartphone {
    display: block;
  }
  .heslo-tools.desktop {
    display: none;
  }
  .citacia.desktop {
    display: none;
  }
  .citacia.smartphone {
    display: block;
  }

  .view-word-search-page {
    width: 100%;
  }
  .view-najcitanejsie-hesla .zoznam-tools {
    margin-top: 52px;
  }

  #block-beliana-encyklopediabeliana h1 {
    font-size: 2.5em;
  }
  #block-beliana-searchbox .search-input-wrapper {
    width: calc(100% - 15px);
    background: #fff;
    padding: 1px 0 1px 5px;
  }
  #block-beliana-searchbox input.search-submit {
    display: none;
  }
  #block-beliana-searchbox .search-input-wrapper.has-alphabet .form-item {
    width: calc(100% - 60px);
  }

  #block-beliana-heslo ul li ul {
    left: 0;
    width: 100%;
  }
  #block-beliana-heslo .facets-widget-links .navigation {
    display: none !important; 
  }
  #block-beliana-heslo .facet-item.facet-item--expanded:hover ul {
    display: none;
  }

  .dnes {
    border: none !important;
  }
  .dnes.half-box {
    width: 100%;
    padding-right: 0;
  }

  .table-like,
  .table-like > div{
    display: block;
  }
  .table-like > div > div {
    display:inline-block;
    width: calc(50% - 10px);
  }

  @-moz-document url-prefix() {
    .truncate-wrapper {
      max-height: 135px;
    }

    .view-najcitanejsie-hesla .views-row article .heslo #gradient,
    .view-word-search-page .views-row article .heslo #gradient {
      bottom: 0;
    }
  }
}
