{% extends "block.html.twig" %}

{% block content %}
  <div class="footer-copyright">
    <span>&copy; Centrum spoločných činností Slovenskej akadémie vied, Encyklopedický ústav</span>
  </div>
{% endblock %}
