{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="/" class="logo" tabindex="0" aria-label="Linka na domovskú stránku - Encyclopaedia Beliana">
    <img width="330" height="66" alt="Encyclopaedia Beliana" title="Encyclopaedia Beliana" src="/{{ directory }}/assets/dist/svg/beliana_logo_pink.svg" />
  </a>
{% endblock %}
