{% extends "block.html.twig" %}

{% block content %}
  <div class="footer-copyright">
    <span>&copy; {{ 'centre-of-operations-of-the-slovak-academy-of-sciences-encyclopaedic-institute'|t }}</span>
  </div>
{% endblock %}
