<div class="footer-copyright">
  <span>&copy; Encyklopedický ústav Slovenskej akadémie vied</span>
  {#<p><b>Licencia obsahu:</b></p>
  <ol>
    <li>texty hesiel: CC BY-SA Creative Commons Attribution-ShareAlike
      („uvedenie autora – rovnaké šírenie“) 4.0
    </li>
    <li>ilustrácie: licenčné podmienky sú pripojené ku každej ilustrácii</li>
  </ol>

  <p>Viac o licenciách Creative Commons:
    <a href="http://sk.creativecommons.org/" target="_blank">http://sk.creativecommons.org/</a>
  </p>#}

</div>