article.word-container {
  width: 75%;
  margin: rem(30) auto 0 auto;

  @media screen and (max-width: em(768, 16)) {
    width: 100%;
  }

  @media print {
    width: 100%;
  }

  .view-word-search-page & {
    width: 100%;
  }

  .word {
    border: none;

    #gradient {
      bottom: rem(-4);

      .view-najcitanejsie-hesla &,
      .view-word-search-page & {

        .black-white & {
          bottom: rem(-15);
        }
      }
    }

    h1 {
      font-size: rem(40);
      color: #333;
      font-weight: normal;



      a {

        .view-word-search-page &,
        .view-najcitanejsie-hesla &{
          text-decoration: none;
          font-size: rem(16);
          font-weight: 700;

          .black-white & {
            font-size: rem(15);
          }
        }

      }

      .black-white & {
        color: $white;
        font-size: rem(31.2);
      }
    }

    h2 {

      .view-word-search-page & {
        font-size: em(27.2, 16);
      }

      .black-white .view-word-search-page & {
        font-size: em(22.1, 16);
      }

      a {
        font-size: rem(22.8);
        margin-left: rem(1);
        font-weight: normal;

        .black-white & {
          font-size: rem(16.9);
        }

        .view-word-search-page &  {
          font-size: 1.1em;
        }

        .black-white .view-word-search-page &  {
          font-size: 1em;
        }
      }

      .view-word-search-page & {

        i {
          float: right;
          margin-top: rem(14);
          font-size: .7em;
        }
      }
    }

    .obsah {
      font-family: 'arno-pro','STIXGeneral','Asana Math','Arial Unicode MS','Lucida Grande','Liberation Sans','Helvetica','Arial',sans-serif;
      min-height: rem(48);
      text-align: justify;
      line-height: rem(32.5);
      font-size: rem(20);

      .black-white & {
        font-family: 'Open Sans',sans-serif;
        font-size: rem(19);
        line-height: rem(30.833);
        min-height: rem(45.6);
      }

      p {
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        text-align: inherit;
      }
    }

    .con-wrap {

      @media screen and (max-width: em(768, 16)) {
        display: flex;
        flex-direction: column;
      }
    }

    .node {

      &__author {

        h2 {
          display: inline-block;
          width: 100%;
          height: rem(22);
          margin-top: 0;

          a {
            display: inline-block;
            width: 100%;
            color: #333;
            font-size: rem(16);
            line-height: normal;
            font-weight: normal;

            .black-white & {
              color: $white;
            }
          }
        }

        .field--name-field-meno,
        .field--name-field-priezvisko {
          display: none;
        }
      }

      &__content {
        font-size: rem(20);
        line-height: rem(32.5);
        text-align: justify;
        min-height: rem(48);

        @media screen and (max-width: em(768, 16)) {
          order: 2;
        }

        .black-white & {
          font-size: rem(19);
          line-height: rem(30.8883);
        }

        p {
          font-size: inherit;
          line-height: inherit;
        }

        article.media-image.view-mode-in-word {

          a {
            display: block;
            text-align: left;
          }

          img {
            width: 100%;
            display: block;
          }

          .field--name-field-description {
            padding-top: rem(5);
            font-size: rem(16);

            p {
              margin: 0;
              text-align: center;
              line-height: 1.2em;
            }
          }
        }

        .hide-description {
          article.media-image.view-mode-in-word {
            .field--name-field-description {
              display: none;
            }
          }
        }

        table {
          font-size: rem(13);
          line-height: rem(32.5);
          border: 0;
          margin-top: rem(15);
          margin-bottom: rem(25);

          thead th {
            text-align: center;
            background-color: #d3d3d3;
            padding: rem(5);
            line-height: initial;
            border: rem(1) solid;
          }

          td {
            padding: rem(5);
            vertical-align: top;
            border: rem(1) solid #282727;
          }

          tr {
            border: rem(1) solid #282727;
          }

          tr td {
            line-height: rem(15);
            text-align: left;
          }

          tr td:first-child {
            font-weight: initial;
          }
        }

        &.desktop {

          article.media-image.view-mode-in-word {

            @media screen and (min-width: em(769, 16)) {
              float: left;
              margin-right: rem(40);
              margin-top: rem(7);

              img {
                max-width: rem(290);
              }

              .field--name-field-description {
                max-width: rem(290);
              }
            }
          }
        }

        .desktop-image.hide-description .field--name-field-description,
        .mobile-image.hide-description .field--name-field-description {
          display: none;
        }

        .desktop-image {
          display: block;
        }

        .mobile-image {
          display: none;
        }

        .visible-on-both {
          display: block;
        }

        @media screen and (max-width: 768px) {
          .desktop-image {
            display: none;
          }

          .mobile-image {
            display: block;

            img {
              height: auto;
            }
          }

          .visible-on-both {
            display: block;

            img {
              height: auto;
            }
          }
        }
      }

      .domain-school & {
        &__content {
          width: 65%;
          text-align: left;

          @media screen and (max-width: em(768, 16)) {
            width: 100%;
          }
        }
      }

      &__sidebar {

        .structure {
          background: #eee;
          padding: rem(10);

          @media screen and (max-width: em(768, 16)) {
            order: 1;
            margin-top: rem(20);
          }

          @media screen and (min-width: em(769, 16)) {
            margin-left: rem(30);
            margin-top: rem(20);
          }

          .black-white & {
            background: #fff;
          }
        }
        .structure h2 {
          margin-top: 0;
          margin-left: rem(10);
          margin-bottom: rem(5);
          color: #333 !important;
          line-height: normal;
          font-size: 1.1rem;
        }
        .structure ul {
          list-style: none;
        }

        .structure ul li {

          .black-white & {
            line-height: rem(23);
          }
        }

        .structure ul li a {
          padding-left: rem(10);
          color: #266ead !important;

          .black-white & {
            color: #000 !important;
          }
        }
        .structure ul li.small a {
          padding-left: rem(25);
        }
      }

      &__sidebar {
        font-size: rem(16);

        @media screen and (max-width: em(768, 16)) {
          width: 100%;
          display: contents;
        }

        @media screen and (min-width: em(769, 16)) {
          width: 35%;
          float: right;
          margin-top: rem(-15);
        }

        @media print {
          width: 35%;
          float: right;
        }

        .contents {
          margin-top: 0;
          margin-left: .63rem;
          margin-bottom: .31rem;
          color: #333 !important;
          line-height: normal;
          font-size: 1.1rem;
          font-weight: bold;
        }

        .word-illustration {
          margin-top: rem(20);
          margin-left: rem(30);
          width: calc(100% - #{rem(30)});

          @media screen and (max-width: em(768, 16)) {
            order: 3;
          }

          .view-mode-in-word {
            margin-bottom: rem(30);
            border: rem(1) solid #e5e5e5;
            padding: rem(10) rem(10) rem(15) rem(10);

            a {
              display: block;
              text-align: center;
            }

            .black-white {
              border-color: #ccc;
            }

            img {
              max-width: 100%;
              height: auto;
              //margin-top: rem(10);
            }

            .field--name-field-description {
              text-align: center;
              padding-top: rem(5);

              p {
                padding: 0;
                margin: 0;
                font-size: rem(15);
                line-height: rem(18);
              }
            }
          }

          .field--name-field-table .field__item table {
            width: 100% !important;
            margin-bottom: rem(30);
            min-width: 0 !important;

            tr td {
              padding: rem(2) rem(10);
              border: rem(1) solid #e4e4e4;
            }
          }
        }
      }
    }

    .meta-wrapper {

      p.last-update {
        color: #636363;
        font-size: rem(15);
        font-style: normal;
        margin: 0;

        .black-white & {
          color: $white;
        }
      }

      .citation {
        font-size: rem(16);

        h3 {
          color: #8a2807;
          opacity: .6;
          font-weight: 700;
          font-size: rem(18);
          background: url("../../../dist/img/arrow_sprite.png") no-repeat;
          width: rem(17);
          height: rem(17);
          display: inline-block;
          padding-left: rem(26);
          text-decoration: none;
          line-height: rem(16);
          cursor: pointer;
          margin-top: rem(26);
          margin-bottom: rem(8);

          @media print {
            display: none;
          }

          .black-white & {
            background: url("../../../dist/img/arrow_sprite_white.png") no-repeat;
            color: $white;
            text-decoration: underline;
            opacity: 1;
          }

          &:hover {
            text-decoration: underline;

            .black-white & {
              outline: rem(1) solid #ccc;
              width: auto;
            }
          }
        }

        #dialog-desc {
          display: none;
          font-size: rem(13);
        }

        @media print {
          #dialog-desc {
            display: block !important;
          }
        }

        &.open {

          h3 {
            background-position: 0 rem(-17);
          }

          #dialog-desc {
            display: block;
          }
        }

        @media screen and (max-width: em(768, 16)) {
          display: none;
        }
      }

      .word-tools {
        font-size: rem(16);
        margin-top: rem(23);

        .share {
          height: rem(30);
          display: inline-block;
          white-space: nowrap;
          font-size: rem(13);
          line-height: rem(30);
          position: relative;
          margin: rem(10) 0 0 0;

          ul.dropdown {
            display: inline-block;
            list-style: none;
            font-weight: normal;
            z-index: 100;

            li {
              border: rem(1) solid #d5d5d5;
              -webkit-border-radius: rem(2);
              -moz-border-radius: rem(2);
              border-radius: rem(2);
              background: #f5f5f5;
              height: rem(30);
              display: inline-block;
              white-space: nowrap;
              font-size: rem(13);
              line-height: rem(30);
              color: #494949;
              text-decoration: none;
              margin-right: rem(6);

              &:hover, &:focus {
                background-color: #e6e6e6;

                a {
                  text-decoration: underline;
                }
              }

              .black-white & {
                background: transparent;
                border-color: transparent;
                text-decoration: underline;

                &:hover, &:focus {
                  border-color: #ccc;
                  background-color: transparent;
                }
              }

              a {
                display: block;
                text-decoration: none;
                padding: 0 rem(10);

                .black-white & {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        a.print,
        a.comment {
          border: rem(1) solid #d5d5d5;
          -webkit-border-radius: rem(2);
          -moz-border-radius: rem(2);
          border-radius: rem(2);
          height: rem(30);
          display: inline-block;
          white-space: nowrap;
          font-size: rem(13);
          line-height: 30px;
          text-decoration: none;
          padding: 0 rem(10);
          margin-right: rem(6);

          &:hover, &:focus {
            text-decoration: underline;
          }

          .black-white & {
            background: transparent;
            border-color: transparent;
            text-decoration: underline;

            &:hover, &:focus {
              border-color: #ccc;
            }
          }

          i {
            font-size: rem(16);
            margin-right: rem(5);
          }
          @media screen and (max-width: em(768, 16)) {
            margin: rem(10) 0 0 0;
            width: 100%;
          }
        }
      }
    }

    &.truncate-wrapper {

    }
  }
}

article .word {
  padding-right: rem(50);

  @media screen and (max-width: em(768, 16)) {
    padding-right: 0;
  }

  .view-word-search-page & {
    padding-right: 0;
  }

  .con-wrap {

    span.scroll-up {
      font-size: rem(16);
      float: right;
      margin-top: rem(-30);
      cursor: pointer;
      color: #266ead;

      @media screen and (max-width: 768px) {
        font-size: 0;

        &:after {
          content: "\f077";
          font: normal normal normal 14px/1 FontAwesome;
          position: relative;
          top: rem(2);
        }
      }

      .black-white & {
        font-size: rem(13.3);
        line-height: rem(30.8883);
        color: #fff;

        &:focus {
          outline: rem(1) solid #fff;
        }
      }

      @media screen and (max-width: 768px) {
        .black-white & {
          font-size: 0;
        }
      }
    }
  }

  @media print {
    padding-right: 0;
  }
}

article {
  body.page-node-type-page &,
  body.page-node-type-word &{

    ul, ol {
      li {
        margin-left: rem(14);
        list-style: inherit;
      }
    }
  }
}
