footer {
  text-align: center;
  padding-bottom: rem(20);
  padding-top: rem(70);
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: rem(70);
    width: 100%;
    height: rem(1);
    border-top: rem(1) solid #e4e4e4;
  }

  .black-white & {
    background-color: #000;

    &:before {
      border-color: #fff;
    }
  }

  body.path-frontpage & {
    background-color: #ffa587;

    &:before {
      border-color: #8a2807;
    }

    .black-white & {
      background-color: #000;

      &:before {
        border-color: #fff;
      }
    }
  }

  .footer-content {
    padding-bottom: rem(20);

    ul {

      li {
        display: inline-block;
        padding: 0 rem(10);

        a, a:hover {
          font-size: rem(19.5);
          color: $action-color;
          line-height: rem(51);

          .black-white & {
            color: #fff;
            font-size: rem(18.2);
            line-height: rem(47);
          }

          body.path-frontpage & {
            color: #333;

            .black-white & {
              color: #fff;
            }
          }
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-bottom {

    .footer-copyright {
      margin-top: rem(20);
      padding: 0 rem(20);

      @media screen and (min-width: em(769, 16)) {
        margin-top: 0;
      }

      span {
        font-size: rem(13);
        color: #494949;

        .black-white & {
          color: #fff;
        }
      }
    }
  }
}
