/*
 * Style overwrites for the local tasks block.
 */
body.path-node .block-bel-local-tasks,
body.path-frontpage .block-bel-local-tasks {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  width: 9.375em;
  left: -6.875em;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

body.path-node .block-bel-local-tasks .contextual,
body.path-frontpage .block-bel-local-tasks .contextual {
  bottom: -1.25em;
  top: auto;
}

body.path-node .block-bel-local-tasks nav.blt-tabs,
body.path-frontpage .block-bel-local-tasks nav.blt-tabs {
  margin: 0;
}

body.path-node .block-bel-local-tasks ul.blt-tabs,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs {
  margin: 0;
  padding: 0;
  text-align: right;
  position: relative;
  -webkit-box-shadow: 0.0625em 0.0625em 0.3125em rgba(84, 28, 189, 0.4);
  box-shadow: 0.0625em 0.0625em 0.3125em rgba(84, 28, 189, 0.4);
}

body.path-node .block-bel-local-tasks ul.blt-tabs li,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li {
  display: block;
  width: auto;
  background: #ffa587;
  padding: 0.3125em 0.625em;
  position: relative;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  border: 0;
  opacity: 0.8;
  left: 0;
  margin: 0;
}

body.path-node .block-bel-local-tasks ul.blt-tabs li a,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a {
  display: inline-block;
  padding: 0.125em 2em 0.125em 0.125em;
  color: #fff;
  /*width: 100%;*/
  width: auto;
  border: 0;
  background-color: transparent;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: right 50%;
  font-size: 16;
  line-height: 1.5em;
  text-decoration: none;
}

body.path-node .block-bel-local-tasks ul.blt-tabs li.is-active,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li.is-active {
  background: #ffa587;
}

body.path-node .block-bel-local-tasks ul.blt-tabs li.is-active a,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li.is-active a {
  background-color: transparent;
}

body.path-node .block-bel-local-tasks ul.blt-tabs li a.view,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.ansicht,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.voir,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.visualizza,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.view,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.ansicht,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.voir,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.visualizza {
  background-image: url("../img/icon-view.svg");
}

body.path-node .block-bel-local-tasks ul.blt-tabs li a.edit,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.modifier,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.modifica,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.edit,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.modifier,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.modifica {
  background-image: url("../img/icon-edit.svg");
}

body.path-node .block-bel-local-tasks ul.blt-tabs li a.delete,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.supprimer,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.elimina,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.delete,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.supprimer,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.elimina {
  background-image: url("../img/icon-delete.svg");
}

body.path-node .block-bel-local-tasks ul.blt-tabs li a.translations,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.bersetzen,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.traduire,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.traduci,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.translations,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.bersetzen,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.traduire,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.traduci {
  background-image: url("../img/icon-translate.svg");
}

body.path-node .block-bel-local-tasks ul.blt-tabs li a.revisions,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.überarbeitungen,
body.path-node .block-bel-local-tasks ul.blt-tabs li a.revisioni,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.revisions,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.überarbeitungen,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li a.revisioni {
  background-image: url('../img/icon-revisions.svg');
}

body.path-node .block-bel-local-tasks ul.blt-tabs li:hover,
body.path-frontpage .block-bel-local-tasks ul.blt-tabs li:hover {
  left: 6.5em;
  opacity: 1;
  background-color: #ffa587;
}

body.path-user .block-bel-local-tasks,
body.path-webform .block-bel-local-tasks {
  margin: 0.9375em 0;
}

@media all and (min-width: 64.0625em) {
  body.path-user .block-bel-local-tasks,
  body.path-webform .block-bel-local-tasks {
    margin: 1.5625em 0;
  }
}

body.path-user .block-bel-local-tasks ul.blt-tabs,
body.path-webform .block-bel-local-tasks ul.blt-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -0.3125em;
}

@media all and (min-width: 48em) {
  body.path-user .block-bel-local-tasks ul.blt-tabs,
  body.path-webform .block-bel-local-tasks ul.blt-tabs {
    margin: -0.625em;
  }
}

body.path-user .block-bel-local-tasks ul.blt-tabs > li,
body.path-webform .block-bel-local-tasks ul.blt-tabs > li {
  list-style: none;
  padding: 0.3125em;
}

@media all and (min-width: 48em) {
  body.path-user .block-bel-local-tasks ul.blt-tabs > li,
  body.path-webform .block-bel-local-tasks ul.blt-tabs > li {
    padding: 0.625em;
  }
}

body.path-user .block-bel-local-tasks ul.blt-tabs > li:hover a,
body.path-user .block-bel-local-tasks ul.blt-tabs > li:focus a,
body.path-webform .block-bel-local-tasks ul.blt-tabs > li:hover a,
body.path-webform .block-bel-local-tasks ul.blt-tabs > li:focus a {
  /*text-decoration: underline;*/
  background-color: #F0F0F0;
}

body.path-user .block-bel-local-tasks ul.blt-tabs > li a,
body.path-webform .block-bel-local-tasks ul.blt-tabs > li a {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  text-decoration: none;
  color: #191919;
  padding: 0.42857em 0.71429em;
}

@media all and (min-width: 48em) {
  body.path-user .block-bel-local-tasks ul.blt-tabs > li a,
  body.path-webform .block-bel-local-tasks ul.blt-tabs > li a {
    font-size: 1rem;
    padding: 0.625em 0.9375em;
  }
}

@media all and (min-width: 64.0625em) {
  body.path-user .block-bel-local-tasks ul.blt-tabs > li a,
  body.path-webform .block-bel-local-tasks ul.blt-tabs > li a {
    font-size: 1.125rem;
    padding: 0.55556em 0.83333em;
  }
}

body.path-user .block-bel-local-tasks ul.blt-tabs > li a.is-active,
body.path-webform .block-bel-local-tasks ul.blt-tabs > li a.is-active {
  color: #fff;
  background-color: #ffa587;
  text-decoration: none;
}
