html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  max-width: $max-screen;
  padding: 0 em(20, 16);

  body.path-frontpage #content-main &,
  body.path-frontpage footer & {
    max-width: rem(1170);
  }
}

body.path-frontpage #content-main {
  background-color: #ffa587;
  .black-white & {
    background-color: #000;
  }
}

article {
  body.page-node-type-page & {
    width: 50%;
    margin: rem(30) auto 0 auto;

    @media screen and (max-width: em(768, 16)) {
      width: 100%;
    }
  }
}

// Layout Helpers
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

#content-main {
  margin-top: rem(32);

  .black-white & {
    position: relative;
    z-index: 1;
  }
}
