.view-word-search-page {
  width: 50%;
  margin: 0 auto;

  @media screen and (max-width: em(768, 16)) {
    width: 100%;
  }

  body.path-rozsirene-vyhladavanie & {
    width: 70%;
    margin: rem(28) 0 0 0;

    @media screen and (max-width: em(768, 16)) {
      width: auto;
    }
  }

  header {
    margin-top: rem(-18);
    color: #767676;

    .black-white & {
      color: $white;
      font-size: rem(13);

      h2 {
        font-size: rem(20);
      }
    }
  }

  .views-row {
    margin-top: rem(35);
  }

  .list-tools {
    margin-top: 0;
    color: #767676;
    float: right;

    .black-white & {
      color: $white;
    }

    @media screen and (max-width: em(768, 16)) {
      float: left;
      width: 100%;
    }

    p {
      float: left;
      width: rem(70);
      margin-right: rem(5);
      font-size: rem(13);
      line-height: rem(30);

      .black-white & {
        font-size: rem(12);
      }
    }
  }

  h2 {
    font-size: rem(20);
    //margin-top: rem(-8);
    margin-bottom: rem(5);
  }

  .truncate-button {

    button {
      color: inherit;
    }
  }

  .truncate-button {
    position: relative;
    -webkit-border-radius: rem(2);
    -moz-border-radius: rem(2);
    border-radius: rem(2);
    display: inline-block;
    white-space: nowrap;
    font-size: rem(13);
    line-height: rem(30);
    text-decoration: none;
    padding: 0;
    margin-top: rem(9.75);
    margin-bottom: rem(9.75);
    margin-right: rem(6);
    width: rem(140);
    border: rem(1) solid #e4e4e4;
    background: transparent;
    color: #a51b00;

    .label {
      border: none;
      width: 100%;
      background: transparent;
      text-align: left;
      padding: 0 rem(10);

      .black-white & {
        border: rem(1) solid $white;
        color: #000;
        background: $white;
        height: rem(30);
      }
    }

    .button {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: rem(35);
      height: rem(31);
      color: #bbb;
      text-align: center;
      font: 0/0 a;

      &:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: 0;
        border: rem(4) solid transparent;
        border-top-color: #a51b00;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: rem(4);
        border-bottom: none;

        .black-white & {
          border-top-color: #000;
        }
      }
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #f5f5f5;
      list-style: none;
      font-weight: normal;
      opacity: 0;
      pointer-events: auto;
      z-index: 100;
      border: rem(1) solid #d5d5d5;
      -webkit-border-radius: 0 0 rem(2) rem(2);
      -moz-border-radius: 0 0 rem(2) rem(2);
      border-radius: 0 0 rem(2) rem(2);

      li {
        display: block;
        text-decoration: none;
        padding: 0 rem(10) 0 rem(10);
        color: #a51b00;
        cursor: pointer;

        a {
          color: #a51b00;

          .black-white & {
            color: #000;
          }
        }
      }
    }
  }
}

.left {
  float: left;
}

.list-tools .item:last-of-type {
  display: none;
}
