html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  color: #282727;
}

.black-white body {
  color: #fff;
}

h1 {
  color: #266ead;
  font-size: 26px;
  font-size: 2.6rem;
}

h2 {
  color: #266ead;
  font-size: 20px;
  font-size: 2rem;
}

p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.wrapper {
  width: 1000px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  height: 123px;
  background: url(../img/header_bg.png) center top no-repeat #073f77;
}

.header a {
  text-decoration: none;
}

.logo {
  line-height: 20px;
  float: left;
}

.box {
  border-bottom: 1px dashed #e8e8e8;
}

.half-box {
  width: 50%;
  float: left;
}

.header a.logo p.title {
  color: #fff;
  font-size: 40px;
  font-size: 4rem;
  font-family: Georgia, 'Times New Roman', serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
  font-weight: bold;
}

.header a.logo p.encyclopaedia {
  color: #fff;
  font-size: 11px;
  font-size: 1.1rem;
  font-family: Georgia, 'Times New Roman', serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: .7em;
  margin-left: 2px;
  margin-bottom: 2px;
  margin-top: 29px;
}

.header a.logo p.description {
  color: #fff;
  font-size: 11px;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .06em;
  position: relative;
  top: -4px;
}

.beliana-logo {
  background: url(../img/beliana_logo.png);
  width: 83px;
  height: 82px;
  position: relative;
  float: left;
  margin-left: 58px;
  margin-top: 21px;
}

.sav-logo {
  background: url(../img/sav_logo.png);
  width: 83px;
  height: 83px;
  position: relative;
  float: left;
  margin-left: 25px;
  margin-top: 21px;
}

.top-right {
  float: right;
}

.top-right ul.top-links {
  list-style: none;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 23px 0 15px 0;
  display: block;
  text-align: right;
}

.top-right ul.top-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.top-right ul.top-links li:after {
  content: '|';
  display: inline-block;
  margin: 0 6px;
}

.top-right ul.top-links li:last-child:after {
  content: '';
  margin: 0;
}

.top-right ul.top-links li a {
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  text-decoration: underline;
}

input.search-input {
  width: 337px;
  height: 38px;
  background-color: #fff;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  color: #7b7b7b;
  padding: 0 0 0 15px;
  float: left;
}

input.search-submit {
  width: 102px;
  height: 38px;
  background: url(../img/search_icon.png) no-repeat 13px 12px #2b7dc5;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  float: left;
  padding-left: 22px;
  outline: 0;
}

input.search-submit:hover {
  background-color: #3284cc;
}

.nav-collapse ul li:first-child a {
  background: url(../img/home_icon.png) transparent no-repeat;
  display: inline-block;
  background-position-x: 12px;
  background-position-y: 20px;
  padding-left: 38px;
}

.nav-collapse ul li a:hover {
  background-color: #e6e6e6;
}

.welcome {
  text-align: center;
  padding-bottom: 36px;
}

.welcome h1 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: 21px;
  line-height: 70px;
}

.welcome p {
  line-height: 1.45em;
}

.abecedny-zoznam {
  margin-top: 32px;
  padding-bottom: 36px;
}

.abecedny-zoznam h2 {
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}

ul.podkategoria li a {
  width: 156px;
}

.dnes {
  margin-top: 32px;
  padding-bottom: 38px;
}

.dnes > div {
  margin: 10px 0 0 0;
}

.dnes ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.dnes a {
  color: #266ead;
}

.najhladanejsie-hesla {
  margin-top: 32px;
  padding-bottom: 38px;
  padding-left: 54px;
}

.najhladanejsie-hesla ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.najhladanejsie-hesla li {
  display: inline-block;
}

.najhladanejsie-hesla li a,
.najhladanejsie-hesla li a:visited {
  color: #282727;
}

.dnes a.more,
.najhladanejsie-hesla a.more {
  margin-top: 30px;
  float: left;
  color: #266ead;
  text-decoration: underline;
  padding-right: 13px;
  background: url(../img/right_arrow.png) no-repeat top 6px right;
}

.dnes.half-box,
.dnes.half-box > div,
.najhladanejsie-hesla.half-box {
  margin-top: 0;
}

.knizna-seria {
  margin-top: 32px;
  border-bottom: 0 !important;
}

.knizna-seria h2 {
  text-align: center;
}

.knizna-seria h3 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.45em;
}

.knizna-seria ul {
  list-style: none;
  margin: 24px 0 0 0;
  padding: 0;
}

.knizna-seria li {
  border-right: 1px dashed #e8e8e8;
  border-bottom: 1px dashed #e8e8e8;
  width: 25%;
  text-align: center;
  float: left;
  padding: 12px 10px 37px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.knizna-seria li:nth-child(4) {
  border-right: 0;
}

.knizna-seria li:nth-child(n+5) {
  border-bottom: 0;
  padding: 28px 10px 37px 10px;
}

.knizna-seria .cover {
  margin-top: 14px;
}

.knizna-seria li p.desc {
  font-size: 13px;
  font-size: 1.3rem;
  display: block;
}

.knizna-seria li p.buy {
  font-size: 13px;
  font-size: 1.3rem;
  display: block;
  margin-top: 5px;
}

.knizna-seria li p.buy a {
  color: #266ead;
}

.knizna-seria li p.buy a:visited {
  color: purple;
}

footer {
  background: #f5f5f5;
  border-top: 1px solid #e4e4e4;
  clear: both;
  text-align: left;
  font-size: 1.3rem;
  color: #494949
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 70px;
}

.footer h4 {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer-nav {
  width: 25%;
  float: left;
  padding: 0 40px 0 0;
}

.footer-nav ul {
  margin-top: 10px;
}

.footer-copyright {
  width: 50%;
  float: left;
  padding: 0 20px;
}

.footer-copyright ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

.footer-nav a {
  color: #266ead;
  display: block;
  border-bottom: 1px solid #e4e4e4;
  text-decoration: none;
}

.footer-nav li:last-child:after {
  border-bottom: 10px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright a.credits {
  color: #494949;
  font-weight: 700;
}

footer li a {
  color: #266ead;
  text-decoration: underline;
  line-height: 2.62em;
}

footer a {
  color: #266ead;
  text-decoration: underline;
}

footer p {
  margin-bottom: 15px;
}

footer a.rights {
  margin-top: 4px;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.nav-collapse li.only-mobile,
.footer-nav li.only-mobile {
  display: none;
}

.search-box-mobile {
  padding: 10px 20px;
  background: #f5f5f5;
  border-bottom: 1px solid #d5d5d5;
}

#search-box-mobile-toggle {
  background: url(../img/search_icon_mobile_small.png);
  width: 29px;
  height: 29px;
  display: inline-block;
  position: absolute;
  right: 74px;
  top: 24px;
  display: none;
}

.najdene-hesla h3 a {
  color: #266ead;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}

.heslo-item {
  margin-top: 30px;
}

.heslo-container {
  margin-top: 32px;
}

.heslo {
  width: 655px;
  padding-right: 10px;
  float: left;
  border-right: 1px dashed #e8e8e8;
}

.heslo p.last-update {
  color: #636363;
  font-size: 15px;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 19px;
  margin-bottom: 8px;
}

.heslo div {
  font-size: 16px;
  font-size: 1.6rem;
}

div.obsah {
  line-height: 1.625em;
}

.obsah a,
.obsah a:visited {
  color: #266ead;
  text-decoration: underline;
}

.najhladanejsie-hesla li a:visited {
  text-decoration: underline;
}

.heslo h2,
.heslo h3 {
  margin-top: 1em;
  color: #266ead;
}

.heslo h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.heslo-ilustracia {
  float: right;
  width: 275px;
}

.heslo-ilustracia p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #636363;
}

.heslo-tools {
  margin-top: 23px;
}

.heslo-tools a.print,
.heslo-tools a.comment {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f5f5f5;
  height: 30px;
  display: inline-block;
  white-space: nowrap;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 30px;
  color: #494949
  text-decoration: none;
  padding: 0 10px;
  margin-right: 6px;
}

.heslo-tools a:hover.print,
.heslo-tools a:hover.comment {
  background-color: #e6e6e6;
  border: 1px solid #b1b1b1;
}

/* Share button. */
.heslo-tools .share {
  /* Size and position */
  position: relative; /* Enable absolute positionning for children and pseudo elements */
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f5f5f5;
  height: 30px;
  display: inline-block;
  white-space: nowrap;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 30px;
  color: #494949
  text-decoration: none;
  padding: 0 10px;
  margin-right: 6px;
  width: 100px;
}

.heslo-tools .share.active {
  background: #e6e6e6;
}

.heslo-tools .share .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #f5f5f5;
  list-style: none;
  font-weight: normal; /* Cancels previous font-weight: bold; */
  /* Hiding */
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.heslo-tools .share .dropdown li a {
  display: block;
  text-decoration: none;
  color: #494949;
  padding: 0 10px;
}

/* Hover state */
.heslo-tools .share .dropdown li:hover a {
  background: #e6e6e6;
}

/* Active state */
.heslo-tools .share.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.heslo-tools .share .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 31px;
  color: #bbb;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.heslo-tools .share .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #bbb;
  border-bottom: none;
}

.nadpis-vpravo {
  float: right;
}

.heslo-tools.nadpis-vpravo {
  margin-top: 0 !important;
}

.zoznam-tools {
  float: right;
  margin-top: 10px;
}

.zoznam-tools p {
  float: left;
  width: 70px;
  margin-right: 5px;
  font-size: 1.3rem;
  line-height: 30px;
}
.black-white .zoznam-tools p {
  font-size: 1.2rem;
}

p.hesla-count {
  margin-top: 3px;
}

.heslo-tools.no-desktop,
.citacia.no-desktop {
  display: none;
}

.citacia p {
  font-size: 13px;
  font-size: 1.3rem;
}

.citacia h3 {
  margin-bottom: 8px;
}

.readers_only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

form.user-login-form label,
form.user-pass label,
#submit-error-form label {
  display: block;
  margin-top: 20px;
}

form.user-login-form input,
form.user-pass input,
#submit-error-form input {
  display: block;
  margin-top: 5px;
}

#submit-error-form .form-type-checkbox input,
#submit-error-form .form-type-checkbox label {
  display: inline-block;
  margin-top: 0;
}

form.user-login-form div,
form.user-pass div,
#submit-error-form div {
  display: block;
  margin-top: 5px;
}

form.user-login-form input#edit-submit,
form.user-pass input#edit-submit {
  margin-top: 30px;
}

#block-zalozky ul {
  margin-top: 20px;
}

#block-zalozky ul li {
  display: inline-block;
  margin-right: 20px;
}

#block-zalozky ul li a {
  color: #266ead;
  text-decoration: underline;
}

@media screen and (max-width: 1013px) {
  ul.podkategoria li a {
    width: 100%;
  }

  ul.podkategoria li {
    width: 16%;
  }
}

@media screen and (max-width: 740px) {
  ul.podkategoria li {
    width: 18%;
  }
}

@media screen and (max-width: 640px) {
  ul.podkategoria li {
    width: 23%;
  }
}

@media screen and (max-width: 520px) {
  ul.podkategoria li {
    width: 30%;
  }
}

@media screen and (max-width: 380px) {
  ul.podkategoria li {
    width: 45%;
  }
}

@media screen and (max-width: 240px) {
  ul.podkategoria li {
    width: 99%;
  }
}

@media screen and (max-width: 998px) {
  .heslo {
    width: 69%;
  }

  .heslo-ilustracia {
    width: 29%;
  }

  .heslo-ilustracia img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .heslo {
    width: 100%;
  }

  .heslo-ilustracia {
    width: 100%;
  }

  .heslo-ilustracia img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1020px) {
  .header {
    background-image: none;
    background-color: #073f77;
  }
}

@media screen and (max-width: 990px) {
  .beliana-logo,
  .sav-logo {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .search-box-mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .footer-nav {
    width: 50%;
    padding-left: 20px;
  }

  .footer-copyright {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 460px) {
  .footer-nav {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 40px;
  }

  .footer-copyright {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 79px;
  }

  .header a.logo p.title {
    font-size: 30px;
    font-size: 3rem;
    padding: 0 0 0 0;
  }

  .header a.logo p.encyclopaedia {
    font-size: 9px;
    font-size: 0.9rem;
    letter-spacing: .56em;
    display: inline-block;
    margin-top: 14px;
  }

  .header a.logo p.description {
    font-size: 9px;
    font-size: 0.9rem;
    top: -7px;
  }

  input.search-input {
    width: -moz-calc(100% - 102px);
    width: -webkit-calc(100% - 102px);
    width: calc(100% - 102px);
  }

  .top-right {
    display: none;
  }

  .nav-collapse li.only-mobile {
    display: block;
  }

  #search-box-mobile-toggle {
    display: block;
  }

  .heslo-ilustracia img {
    margin-top: 10px;
  }

  .heslo-ilustracia p {
    margin-top: 3px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 7px;
  }

  .heslo-tools.smartphone {
    display: none;
  }

  .smartphone {
    display: none;
  }

  .heslo-tools a.comment {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .zoznam-tools {
    float: left;
    width: 100%;
    margin-top: 20px;
  }

  .heslo-tools .share {
    margin-top: 10px;
    width: 100%;
  }

  .heslo-tools.no-desktop,
  .citacia.no-desktop {
    display: block;
  }

  .heslo {
    padding: 0;
    border-right: 0;
  }
}

@media screen and (max-width: 640px) {
  .half-box {
    width: 100%;
    padding-left: 0;
  }

  .knizna-seria li {
    width: 33%;
  }

  .dnes {
    border-bottom: 1px dashed #e8e8e8;
  }

  .knizna-seria li:nth-child(3),
  .knizna-seria li:nth-child(6) {
    border-right: 0;
  }

  .knizna-seria li:nth-child(4) {
    border-right: 1px dashed #e8e8e8;
    border-bottom: 1px dashed #e8e8e8;
  }

  .knizna-seria li:nth-child(n+4) {
    border-bottom: 1px dashed #e8e8e8;
    padding: 28px 0 37px 0;
  }

  .knizna-seria li:nth-child(7) {
    border-bottom: 0;
  }

  form.user-login-form input,
  form.user-pass input {
    width: 100%;
  }

  form.user-login-form input#edit-submit,
  form.user-pass input#edit-submit {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .knizna-seria li {
    width: 50%;
  }

  .knizna-seria li:nth-child(n+3) {
    border-bottom: 1px dashed #e8e8e8;
    padding: 28px 0 37px 0;
  }

  .knizna-seria li:nth-child(3) {
    border-right: 0 dashed #e8e8e8;
  }

  .knizna-seria li:nth-child(2),
  .knizna-seria li:nth-child(4),
  .knizna-seria li:nth-child(6) {
    border-right: 0;
  }

  .knizna-seria li:nth-child(7) {
    border-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .knizna-seria li {
    width: 100%;
  }

  .knizna-seria li {
    border-bottom: 1px dashed #e8e8e8;
    border-right: 0;
  }

  .knizna-seria li:last-child {
    border-bottom: 0;
  }
}

.citacia h3 {
  margin-top: 26px;
}

.citacia h3 {
  background: url("../img/arrow_sprite.png") no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  padding-left: 26px;
  color: #8a2807;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 16px;
  cursor: pointer;
}
.black-white .citacia h3 {
  background: url("../../beliana/img/arrow_sprite_white.png") no-repeat;
}

.citacia.open h3 {
  background-position: 0 -17px;
}

.citacia #dialog-desc {
  display: none;
}

h2 + div,
.example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

.citacia h3 + div {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

table {
  table-layout: fixed;
}

.obsah table {
  font-size: 1.3rem;
  border: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}

.obsah table thead th {
  text-align: left;
  background-color: #d3d3d3;
  padding: 5px;
}

.obsah table p {
  font-size: 1.3rem;
}

.obsah table td {
  padding: 5px;
  vertical-align: top;
  border: 1px solid #282727;
}

.obsah table tr {
  border: 1px solid #282727;
}

.truncate-wrapper {
  display: block;
  max-height: 120px;
  position: relative;
  overflow: hidden;
}

.truncate-button,
.sort-button {
  /* Size and position */
  position: relative; /* Enable absolute positionning for children and pseudo elements */
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f5f5f5;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.3rem;
  line-height: 30px;
  color: #494949;
  text-decoration: none;
  padding: 0;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-right: 6px;
  width: 140px;
}

.truncate-button.active,
.sort-button.active {
  background: #e6e6e6;
}

.truncate-button .dropdown,
.sort-button .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #f5f5f5;
  list-style: none;
  font-weight: normal; /* Cancels previous font-weight: bold; */
  /* Hiding */
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.truncate-button .dropdown li,
.sort-button .dropdown li {
  display: block;
  text-decoration: none;
  color: #494949;
  padding: 0px 10px;
}

/* Hover state */
.truncate-button .dropdown li:hover,
.sort-button .dropdown li:hover {
  background: #e6e6e6;
}

/* Active state */
.truncate-button .dropdown {
  pointer-events: auto;
}
.sort-button.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.truncate-button .button,
.sort-button .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 31px;
  color: #bbb;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.truncate-button .button:after,
.sort-button .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #bbb;
  border-bottom: none;
}

#gradient {
  display: none;
  width: 100%;
  height: 35px;
  background: url(../img/bg-gradient.png) repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
}
.black-white #gradient {
  height: 3.125em;
  filter: invert(1);
}

table tr td:first-child {
  font-weight: bold;
}

td.long {
  width: 70%;
}

.table-500 {
  min-width: 500px;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.table-container-outer {
  position: relative;
}

.table-container-fade {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
  /*background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), #fff);*/
  /*background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), #fff);*/
  /*background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.2), #fff);*/
  /*background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.2), #fff);*/
  /*background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2), #fff);*/
}

#block-page-title {
  margin-top: 32px;
}

.view-word-search-page,
.view-najcitanejsie-hesla {
  margin-top: 14px;
}

.view-word-search-page .views-row,
.view-najcitanejsie-hesla .views-row {
  margin-top: 30px;
}

.view-word-search-page header h2,
.view-najcitanejsie-hesla header h2 {
  margin-bottom: 5px;
}

.view-word-search-page .views-row h3 a,
.view-najcitanejsie-hesla .views-row h3 a {
  color: #266ead;
  font-size: 1.6rem;
  font-weight: 700;
}

.view-word-search-page ul.pager,
.view-najcitanejsie-hesla ul.pager {
  margin-top: 20px;
}

.view-word-search-page ul.pager > li,
.view-najcitanejsie-hesla ul.pager > li {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 4px;
  margin-right: auto;
  margin-left: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f5f5f5;
  border: 1px solid #d5d5d5;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  width: 120px;
}

.najhladanejsie-hesla ul li .views-field-title span a:after {
  content: ",";
}

.najhladanejsie-hesla ul li:last-child .views-field-title span a:after {
  content: normal;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }
}

@media print {
  header,
  footer,
  .heslo-tools,
  .nav-toggle,
  #block-cool-local-tasks,
  #block-cool-main-menu {
    display: none !important;
  }
}

.word-facet-wrap {
  margin-top: 14px;
  margin-bottom: 40px;
}

#block-heslo {
  display: block;
  position: relative;
}

#block-heslo ul li {
  list-style-type: none;
  margin-right: 4px;
}

#block-heslo ul li:last-of-type {
  margin-right: 0px;
}

#block-heslo > ul {
  display: inline-block;
}

#block-heslo > ul > li {
  float: left;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f5f5f5;
  border: 1px solid #d5d5d5;
  width: 33px;
  height: 37px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
}

#block-heslo ul li ul {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 8px;
}

#block-heslo ul li ul li {
  float: left;
  display: block;
  margin-bottom: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f5f5f5;
  border: 1px solid #d5d5d5;
  width: 156px;
  height: 37px;
  text-align: center;
}

#block-heslo ul li a,
.view-word-search-page ul.pager li a {
  line-height: 35px;
  text-decoration: none;
  color: #494949;
  font-size: 1.5rem;
}

#block-heslo ul li a,
.view-word-search-page ul.pager li a {
  width: 100%;
  height: 100%;
  display: block;
}

#block-heslo ul li a:hover,
.view-word-search-page ul.pager li a:hover {
  cursor: pointer;
}


#block-heslo .facet-item a:hover {
  background-color: #e6e6e6;
  text-decoration: underline;
}

#block-heslo .facet-item a.is-active,
#block-heslo .facet-item--active-trail > a,
#block-heslo .facet-item--active-trail > a:hover,
#block-heslo .facet-item a.is-active:hover {
  color: #fff;
  background: #266ead;
  font-weight: 700;
  border: 1px solid #1d629f;
  text-decoration: none;
}


#block-heslo .facet-item__status {
  display: none;
}

.view-word-search-page ul.pager li a {
  padding-right: 10px;
  padding-left: 10px;
}

.view-word-search-page ul.pager li a:hover {
  background-color: #e6e6e6;
  text-decoration: underline;
}

@media screen and (max-width:1013px) {
  #block-heslo ul li ul li {
    width: 16%;
  }
}
@media screen and (max-width:740px) {
  #block-heslo ul li ul li {
    width: 18%;
  }
}
@media screen and (max-width:640px) {
  #block-heslo ul li ul li {
    width: 23%;
  }
}
@media screen and (max-width:520px) {
  #block-heslo ul li ul li {
    width: 30%;
  }
}
@media screen and (max-width:380px) {
  #block-heslo ul li ul li {
    width: 45%;
  }
}
@media screen and (max-width:240px) {
  #block-heslo ul li ul li {
    width: 99%;
  }
}
