.word-facet-wrap {
    margin-top: 14px;
    margin-bottom: 40px;
}

#block-heslo {
    display: block;
    position: relative;
}

#block-heslo ul li {
    list-style-type: none;
    margin-right: 4px;
}

#block-heslo ul li:last-of-type {
    margin-right: 0px;
}

#block-heslo > ul {
    display: inline-block;
}

#block-heslo > ul > li {
    float: left;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    width: 33px;
    height: 37px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
}

#block-heslo ul li ul {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 8px;
}

#block-heslo ul li ul li {
    float: left;
    display: block;
    margin-bottom: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    width: 156px;
    height: 37px;
    text-align: center;
}

#block-heslo ul li a,
.view-word-search-page ul.pager li a {
    line-height: 35px;
    text-decoration: none;
    color: #545454;
    font-size: 1.5rem;
}

#block-heslo ul li a,
.view-word-search-page ul.pager li a {
    width: 100%;
    height: 100%;
    display: block;
}

#block-heslo ul li a:hover,
.view-word-search-page ul.pager li a:hover {
    cursor: pointer;
}


#block-heslo .facet-item a:hover{
    background-color:#e6e6e6;
    text-decoration:underline;
}

#block-heslo .facet-item a.is-active,
#block-heslo .facet-item--active-trail > a,
#block-heslo .facet-item--active-trail > a:hover,
#block-heslo .facet-item a.is-active:hover {
    color:#fff;
    background:#266ead;
    font-weight:700;
    border:1px solid #1d629f;
    text-decoration:none;
}


#block-heslo .facet-item__status {
    display: none;
}

.view-word-search-page ul.pager li a {
    padding-right: 10px;
    padding-left: 10px;
}

.view-word-search-page ul.pager li a:hover {
    background-color:#e6e6e6;
    text-decoration:underline;
}

@media screen and (max-width:1013px) {
    #block-heslo ul li ul li {
        width:16%;
    }
}
@media screen and (max-width:740px) {
    #block-heslo ul li ul li {
        width:18%;
    }
}
@media screen and (max-width:640px) {
    #block-heslo ul li ul li {
        width:23%;
    }
}
@media screen and (max-width:520px) {
    #block-heslo ul li ul li {
        width:30%;
    }
}
@media screen and (max-width:380px) {
    #block-heslo ul li ul li {
        width:45%;
    }
}
@media screen and (max-width:240px) {
    #block-heslo ul li ul li {
        width:99%;
    }
}
