#block-bel-branding {

  body.path-frontpage & {
    display: none;
  }

  body.path-frontpage.sticky-header & {
    display: block;
  }

  .logo img {

    @media screen and (max-width: em(768, 16)) {
      max-width: initial;
    }
  }
}
