#block-bel-breadcrumbs {
  margin-top: rem(-15);
  opacity: 1;
  position: relative;

  body.sticky-header & {
    position: fixed;
    background: $white;
    width: 100%;
    top: rem(90);
    z-index: 4;
    margin-top: 0;
    padding: rem(10) 0;
    left: 0;
    border-bottom: .0625em solid #f0f0f0;

    .black-white & {
      background: #000;
      border-color: #555;
    }

    > nav {
      margin: auto;
      max-width: $max-screen;
      padding: 0 em(20, 16);
    }
  }

  ol {
    list-style: none;

    .black-white & {
      font-size: rem(13);
    }

    li {
      display: inline-block;
      padding-right: rem(5);

      a {
        padding: 14px 0;

        &:after {
          content: "\f0da";
          margin-left: rem(9);
          display: inline-block;
          font: normal normal normal 10px/1 FontAwesome;
        }
      }

      &:last-child {

        a {
           &:after {
             display: none;
           }
        }
      }
    }
  }
}
