#block-bel-encyklopedia {
  margin-bottom: rem(35);
  border: none;

  img {
    width: 50%;

    @media screen and (max-width: em(768, 16)) {
      width: 80%;
    }
  }

  .field--name-body {
    font-size: 1.3em;
  }

  .black-white & {

    img {
      filter: invert(1);
    }

    .field--name-body {
      font-size: rem(15.6);
    }
  }

  &.welcome {
    text-align: center;
    padding-bottom: rem(36);

    p {
      font-size: rem(20.8);
      line-height: rem(30.1667);
      margin: rem(15.6) 0;

      .black-white & {
        font-size: rem(15.6);
        line-height: rem(22.6167);
        margin: rem(11.7) 0;
      }
    }
  }
}
