#block-bel-main-menu {

  > ul {
    padding: 0 rem(9);

    a {
      font-size: rem(17.6);
      text-decoration: none;
      padding-top: rem(4);

      &:hover, &:focus {
        text-decoration: underline;
      }

      .black-white & {
        $fz: 13;
        font-size: rem($fz);
        text-decoration: underline;
        padding-top: em(4, $fz);
      }
    }
  }
}
