#block-bel-searchbox {
  position: relative;
  form {
    background: #fff;
    .search-input-wrapper {
      display: inline-block;
      background: url('../../img/search_icon.png') no-repeat em(14, 16) em(14, 16) #fff;
      padding-left: em(45, 16);
      margin-top: em(1, 16);
      width: calc(100% - #{em(90, 16)});

      @media screen and (max-width: em(768, 16)) {
        width: calc(100% - #{rem(15)});
        background: #fff;
        padding: em(1, 16) 0 em(1, 16) em(5, 16);
      }

      .black-white & {
        background: url('../../svg/svg-icons/search-solid-black.svg') no-repeat #fff;
        background-size: em(20, 16);
        background-position: em(14, 16);

        @media screen and (max-width: em(768, 16)) {
          background: #fff;
        }
      }
      .search-alphabet-wrapper {
        position: relative;
        display: inline-block;
        padding: em(8, 16) em(25, 16) em(8, 16) em(10, 16);
        top: em(-1, 16);
        background: #fae1d9;
        color: #600b00;
        .black-white & {
          color: #000;
          background: #fff;
          border: em(1, 16) solid #000;
          padding: em(7, 16) em(24, 16) em(7, 16) em(9, 16);
        }
        .close {
          $fz: 14;
          font-size: rem($fz);
          position: absolute;
          top: 0;
          right: 0;
          color: #600b00;
          font-weight: bold;
          padding: 10px;
        }
      }
      &.has-alphabet {
        .form-item {
          width: calc(100% - #{em(105, 16)});
        }
      }

      .form-item {
        display: inline-block;
        width: 100%;
      }

      input {
        $fz: 19;
        font-size: rem($fz);
        width: 100%;
        float: none;
        height: em(45, $fz);
        margin-bottom: em(2, $fz);
        font-style: normal;
        color: #666;
        -webkit-border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        .black-white & {
          color: #000;
          $fz: 14;
          font-size: rem($fz);
          height: em(45, $fz);
          margin-bottom: em(2, $fz);
        }

        &.form-autocomplete {
          background: none;
          outline: none;
          border: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
        }
      }
    }
  }

  input.search-submit {
    display: inline-block;
    position: relative;
    top: rem(-1);
    left: 0;
    float: none;
    width: rem(85);
    height: rem(45);
    background: #fff;
    padding: 0;
    text-transform: none;
    color: #747474;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      background-color: #f4f4f4;
    }

    .black-white & {
      font-size: rem(13);
    }

    @media screen and (max-width: em(768, 16)) {
      display: none;
    }
  }
}
