
// Typographic styles
html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: normal;
  letter-spacing: normal;

  body.path-frontpage {
    background: #ffa587;
  }

  &.black-white {
    font-family: $bw-font-family;
    background: #000;
    color: #fff;
    body {
      &.path-frontpage {
        background: #000;
        color: #fff;
      }
    }
  }
}

h1, h2 {
  color: $action-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: normal;
  margin: 0;

  .black-white & {
    color: $white;
    font-family: 'Open Sans',sans-serif;
  }
}

h1 {
  font-size: rem(26);
}

h2 {
  font-size: rem(20);
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

p {
  font-size: rem(16);
  line-height: normal;
  margin-top: 0.75em;
  margin-bottom: 0.75em;

  .black-white & {
    font-size: rem(13);
  }
}

a {
  color: $action-color;
  text-decoration: none;

  .black-white & {
    color: #fff;
    text-decoration: underline;
  }

  &:active,
  &:focus,
  &:hover {

    .black-white & {
      color: #fff;
    }
  }
}

// Reset
ul, ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

a:focus {
  outline: em(1, 16) solid #ccc;
}
input:focus, textarea:focus {
  border: em(1, 16) solid #ccc;
  -webkit-box-shadow: 0 0 em(5, 16) #ccc;
  box-shadow: 0 0 em(5, 16) #ccc;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

// Code
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: rem(1) solid #aaaaaa;
}

// Abbreviation
abbr {
  border-bottom: rem(1) dotted #666666;
  cursor: help;
  white-space: nowrap;
}

.more:hover,
.obsah a:hover,
.citacia h3:hover,
.dnes a:hover,
.najhladanejsie-hesla a:hover,
.body-content .container a:hover {
  text-decoration: underline;
}

// Table styles
table {
  table-layout: fixed;
  font-size: rem(16);

  .black-white & {
    font-size: rem(13);
  }

  @media screen and (max-width: em(768, 16)) {
    font-size: rem(14);

    .black-white & {
      font-size: rem(14);
    }
  }

  article .field--name-body & {

    tr td {
      vertical-align: top;
      padding: 0 rem(2);
    }
  }

  tr td:first-child {
    font-weight: bold;
  }
}

// Nav pager

nav.pager {
  padding-top: rem(30);

  .black-white & {
    font-size: rem(13);
  }

  ul {
    list-style: none;
    text-align: center;

    .black-white & {
      font-size: inherit;
    }

    li {
      display: inline-block;
      margin-top: rem(20);

      .black-white & {
        font-size: inherit;
      }

      a {
        padding: rem(4) rem(10);
        margin: rem(2);
        border: rem(1) solid #e4e4e4;
        text-decoration: none;

        .black-white & {
          font-size: inherit;
        }

        .black-white & {
          border-color: $white;
          text-decoration: underline;
        }

        &:hover {
          border-color: $action-color;

          .black-white & {
            border-color: $white;
          }
        }
      }

      &.is-active {

        a {
          border-color: $action-color;
          font-weight: bold;

          .black-white & {
            border-color: $white;
          }
        }
      }
    }
  }
}

.visually-hidden {
  display: none;
  position: absolute !important;
  overflow: hidden;
  clip: rect(rem(1),rem(1),rem(1),rem(1));
  width: rem(1);
  height: rem(1);
  word-wrap: normal;
}

button, input.button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

.fa.fa-comment {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
}

.truncate-wrapper {
  display: block;
  max-height: rem(130);
  position: relative;
  overflow: hidden;
}

#gradient {
  display: none;
  width: 100%;
  height: rem(35);
  background: url("../../../dist/img/bg-gradient.png") repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  .black-white & {
    height: rem(50);
    filter: invert(1);
  }
}

.fa.fa-picture-o {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;

  &:before {
    content: "\f03e";
  }
}
